#styleB {
    flex-direction: row;
    margin: auto;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#styleB .square p{
    margin-top: 6px;
    margin-right: 45px;
}
#styleB .square{
    min-width: 100px;
    min-height: 150px;
    border-left: 10px dotted  #D0D0FF;
    background-color: #eeeff2;
    margin-left: 10px;
    font-size: 40px;
}

#styleB .square:hover{
    background-color: rgb(247, 240, 105);
}


#styleB .squareF2 {
    min-width: 100px;
    min-height: 150px;
    border-left: 10px dotted  #D0D0FF;
    background-color: #eeeff2;
    font-size: 40px;
    position: fixed;
    right: 0px; bottom: 0px;
}
#styleB .squareF2:hover{
    background-color: rgb(247, 240, 105);
}